<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<script type="text/javascript" src="jquery.js"></script>
	<script type="text/javascript" src="angular.js"></script>
	<script type="text/javascript" src="inputmanager.js"></script>
</head>
<body ng-controller="controller">
	<canvas id="game" width="640px" height="400px"></canvas>
	<canvas id="minimap" width="120px" height="120px"></canvas>
	<div>
		<button ng-click="decrement()">&lt;</button>
		<span ng-bind="v"></span>
		<button ng-click="increment()">&gt;</button>
	</div>
	<script type="text/javascript" src="script.js"></script>
</body>
</html>