#game-container {
	position: relative;
	width: 320px;
	height: 200px;
	overflow: hidden;
}
#game-container > * {
	position: absolute;
	top: 0px;
	left: 0px;
}
#floor {
	bottom: 0px;
	top: initial;

	width: 100%;
	height: 50%;
	transform: rotateX(45deg);
}
#minimap {
	margin-top: 20px;
	margin-left: 20px;
	background: white;
}
#debug {
	position: absolute;
	bottom: 0;
}
#textures {
	display: none;
}